.mui-active {
	color: #00ccff !important;
}

.mui-control-item.mui-active {
	border-bottom: 2px solid #00ccff !important;
}

.mui-content-padded {
	font-weight: 100;
}

.yue {
	margin: 20px 10px;
	font-size: 75px;
}

.btn-group {
	text-align: center;
}

.btn-group button {
	box-sizing: border-box;
	width: 25%;
	height: 60px;
	margin: 0 10px;
}

.other {
	color: black;
	margin: 15px 10px;
}

.other input {
	outline: none;
	border: none;
	width: 50%;
}

.active {
	background: #00ccff;
	color: white !important;
}

.mui-checkbox input[type=checkbox]:checked:before,
.mui-radio input[type=radio]:checked:before {
	color: red;
}

.mui-radio span:nth-child(1) {
	font-size: 2rem;
}

.mui-radio span:nth-child(2) {
	color: black;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	margin-left: 20px;
}

.icon-weixin {
	color: #00cc33;
}

.mui-input-group .mui-input-row {
	height: 54px;
}

.mui-checkbox input[type=checkbox],
.mui-radio input[type=radio] {
	margin-top: 10px;
}

.icon-imagezhifubao {
	color: #00ccff;
}

.mui-btn-blue,
.mui-btn-primary,
input[type=submit] {
	border: 1px solid #00ccff;
}

.footer-y {
	text-align: center;
	margin-top: 1rem;
}

.footer-y a {
	text-decoration: underline;
}

.footer-y button {
	width: 90%;
	padding: 10px;
}

.cash {
	display: inline-block;
	margin: 0 !important;
}

#iWant .inp {
	height: 40px;
}

#iWant .group {
	width: 90%;
	margin: auto;
	margin-bottom: 15px;
	border: 1px solid gray;
	border-radius: 5px;
}

#iWant .mui-input-row label {
	width: 40%;
}

#iWant .groupBtn {
	width: 60%;
}

.icon-yue01 {
	color: #3366ff;
}

#DrivingRecord .bottom div {
	float: left;
	margin-right: 1.5rem;
}

#DrivingRecord {
	font-size: 15px;
	color: gray;
	font-weight: 400;
}

#DrivingRecord .first {
	color: black;
	font-weight: 700;
}

#ArrearsPayment .mui-clearfix div {
	float: left;
	width: 50%;
}

#ArrearsPayment .qianfei {
	padding: 0px 5px;
}

#chargingRecord .last {
	text-align: center;
}

#chargingRecord .last span:nth-child(1) {
	float: left;
}

#chargingRecord .last span:nth-child(3) {
	float: right;
}

#ParkingPayment-g .icon-tubiaoliebiao {
	color: #00cc99;
	margin-right: 7px;
	font-size: 1.5rem;
}

#ParkingPayment-g .icon-shijian {
	color: #ff3333;
	margin-right: 7px;
	font-size: 1.5rem;
}

#ParkingPayment-g .icon-jinggao {
	color: #00ccff;
	margin-right: 7px;
	font-size: 1.5rem;
}

#ParkingPayment-g .inp_six {
	text-align: center;
}

#ParkingPayment-g .inp_six .mui-clearfix {
	display: inline-block;
}

#ParkingPayment-g .inp_six input {
	width: 45px;
	height: 45px;
	float: left;
	margin-left: -1px;
	margin-bottom: 0;
	border-color: #00ccff;
	border-radius: 0px;
}

#ParkingPayment-g .jingao {
	width: 280px;
	text-align: left;
	margin: 15px auto;
}

#ParkingPayment-g .line {
	height: 1px;
	width: 100%;
	background-color: #cccccc;
	margin-bottom: 20px;
}

#ParkingPayment-g .time {
	text-align: center;
}

#ParkingPayment-g .time button {
	width: 132px;
	float: left;
	height: 45px;
	line-height: 12px;
	margin-top: 20px;
	background-color: 00ccff;
	color: white;
}

#ParkingPayment-g .time .mui-clearfix {
	display: inline-block;
}

#pass {
	position: absolute;
	top: -1000px;
}

.maskBox {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	display: none;
}

.mask {
	height: 100%;
	width: 100%;
	background-color: gray;
	opacity: 0.8;
	position: absolute;
	top: 0;
	left: 0;
}

.maskContent {
	width: 70%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 10px
}

.maskBox .header {
	text-align: center;
	padding-top: 18px;
}

.maskBox button {
	margin-top: 20px;
	margin-bottom: 20px;
}

.maskContent form {
	border-radius: 10px
}

.x {
	position: absolute;
	right: 1rem;
}